# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/image_cropper
/build/image_picker_android
/build/kotlin
/build/path_provider_android
/build/8dfd97711756e7aee226b7477a87d6c3
/build/960ef18f2f7222cd7856760115b631f6
/build/app
/build/cloud_firestore
/build/firebase_auth
/build/firebase_core
/build/firebase_storage
/build/flutter_assets
/build/flutter_image_compress
/build/flutter_plugin_android_lifecycle
/build/google_maps_flutter_android
/build/c075001b96339384a97db4862b8ab8db.cache.dill.track.dill
/build/cf81dbb7dee963bedb1148fc66e70128.cache.dill.track.dill
/build/google_sign_in_android
# Web related

# Windows desktop app related
/Windows
/build/ac4202acbd320526c8aaa2085633cfde
build/.last_build_id
/build/windows
# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
lib/widgets/Weather/
lib/widgets/Calender/
/lib/constants.dart
